<div class="container" style="width: 35%;">
  <h2 style="text-align: center;">Zoom Invitation Form</h2>
  <%= form_with(url: "/invitations/send_invitation", method: "post") do |f|%>
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <%= f.text_field :first_name, required: true, placeholder: "Enter First Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <%= f.text_field :last_name, required: true, placeholder: "Enter Last Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <%= f.text_field :email, required: true, placeholder: "Enter Email", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <%= f.date_field :date, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="date">Time:</label>
      <%= f.time_field :time ,required: true, class: "form-control" %>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  <% end %>
</div>