<!DOCTYPE html>
<html>
  <head>
    <title>ZoomApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#eff0f1">
    <%= render partial: "/layouts/shared/header"%>
    <%= yield %>
  </body>
</html>
